* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  
  body {
    height: 100%;
    background: linear-gradient(to right, #164a41, #4d774e, #9dc88d);
  }
  
  h1 {
    font-size: 60px;
    font-weight: 600;
    margin: 60px 0 70px;
    text-align: center;
    color: #9dc88d;
  }
  .styling {
    font-weight: 800;
    color: #f1b24a;
  }
  
  .inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .inputDiv .input {
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    background: #ceecc3;
    color: rgb(109, 104, 104);
    width: 450px;
    font-size: 1.15rem;
    margin: 0.4rem;
    border-radius: 15px;
    transition: 0.5s;
    font-size: 1.15rem;
  }
  
  .add {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #113f37;
    color: #fff;
    margin: 0.25rem;
    cursor: pointer;
    transition: 0.5s;
  }
  
   .add:hover{
      opacity: 0.7;
  } 
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  .item {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    
  }
  
  .item_input {
    background: none;
    outline: none;
    color: #164a41;
    border: 3px solid #113f37;
    background-color: #9dc88d;
    padding: 5px;
    border-radius: 10px;
    width: 350px;
    font-size: 1.4rem;
  }
  
  .remove {
    font-size: 1.4rem;
    background: none;
    outline: none;
    color: #b73225;
    border: none;
    cursor: pointer;
    margin-left: 30px;
  }
  
  .remove_btn {
    margin-top: 35px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #f1b24a;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 15px;
    transition: all 0.2s ease 0s;
    height: 55px;
    width: 150px;
    cursor: pointer;
  }
  .remove_btn:hover {
    background: #f0a226;
  }
  
  .box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
  }
  
  .box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  .box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
  }
  .box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  .box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-800px) rotate(360deg);
      opacity: 0;
    }
  }
  